image:
  repository: ghcr.io/bambanah/deemix
  pullPolicy: IfNotPresent
  tag: v4.3.3@sha256:986162ca42ef17362b7fec079610ac19626acca571e8cc7a929bfcc4da9f495f
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 568
    runAsGroup: 568
service:
  main:
    enabled: true
    ports:
      main:
        port: 6595
        protocol: http
        targetPort: 6595
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              type: http
              path: /
            readiness:
              type: http
              path: /
            startup:
              type: http
              path: /
          env:
            DEEMIX_SERVER_PORT: "{{ .Values.service.main.ports.main.targetPort }}"
            DEEMIX_DATA_DIR: "{{ .Values.persistence.config.mountPath }}"
            DEEMIX_MUSIC_DIR: "{{ .Values.persistence.data.mountPath }}"
            # User Defined
            DEEMIX_SINGLE_USER: false
persistence:
  config:
    enabled: true
    mountPath: /config
  data:
    enabled: true
    mountPath: /media/downloads/deemix
portal:
  open:
    enabled: true
