image:
  repository: "ghcr.io/taxel/plextraktsync"
  tag: "0.34.11@sha256:ea2ffc8eff13b7ce43f482d5a6aee0f83c58828fb69e113a2b505440b275bb2b"
  pullPolicy: "IfNotPresent"

securityContext:
  container:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0

service:
  main:
    enabled: false
    ports:
      main:
        enabled: false

plextraktsync:
  cron_enabled: true
  task: ""
  schedule: "0 */6 * * *"

cronjob:
  annotations: {}
  failedJobsHistoryLimit: 5
  successfulJobsHistoryLimit: 2

workload:
  main:
    podSpec:
      containers:
        main:
          tty: true
          stdin: true
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false

persistence:
  config:
    enabled: true
    mountPath: /app/config

portal:
  open:
    enabled: false
