image:
  pullPolicy: "IfNotPresent"
  repository: "docker.io/redislabs/redisinsight"
  tag: "2.64.1@sha256:53618017b60bc825b5049d7f0bb40bc6bf5e551ae26a3b3dfc77f5af3733e812"
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsGroup: 0
    runAsUser: 0
service:
  main:
    ports:
      main:
        protocol: http
        port: 10579
redisinsight:
  log_level: WARNING
  trusted_origins: []
  auth_prompt: false
  auth_timer: 30
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            RIPORT: "{{ .Values.service.main.ports.main.port }}"
            RIHOMEDIR: /config
            RILOGDIR: /logs
            RILOGLEVEL: "{{ .Values.redisinsight.log_level }}"
            RITRUSTEDORIGINS: '{{ join "," .Values.redisinsight.trusted_origins }}'
            RIAUTHPROMPT: "{{ .Values.redisinsight.auth_prompt }}"
            RIAUTHTIMER: "{{ .Values.redisinsight.auth_timer }}"
persistence:
  config:
    enabled: true
    mountPath: /config
  logs:
    enabled: true
    mountPath: /logs
portal:
  open:
    enabled: true
