image:
  repository: "ghcr.io/elfhosted/emby"
  pullPolicy: "IfNotPresent"
  tag: "4.9.0.50@sha256:0c2a66ec0ca8a9b817e3b2314c132d578b5dfc3c618b588d30454534ad254dbd"
securityContext:
  container:
    readOnlyRootFilesystem: false
service:
  main:
    ports:
      main:
        port: 10079
        targetPort: 8096
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              type: http
              path: /
            readiness:
              type: http
              path: /
            startup:
              type: http
              path: /
          env: {}
persistence:
  config:
    enabled: true
    mountPath: /config
portal:
  open:
    enabled: true
