image:
  repository: "ghcr.io/elfhosted/emby"
  pullPolicy: "IfNotPresent"
  tag: "4.9.0.48@sha256:9d4a530c650fbe632d642ce935d0735269601d25aea421ccf6284ddabfeca71a"
securityContext:
  container:
    readOnlyRootFilesystem: false
service:
  main:
    ports:
      main:
        port: 10079
        targetPort: 8096
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              type: http
              path: /
            readiness:
              type: http
              path: /
            startup:
              type: http
              path: /
          env: {}
persistence:
  config:
    enabled: true
    mountPath: /config
portal:
  open:
    enabled: true
