image:
  repository: "linuxserver/ombi"
  pullPolicy: "IfNotPresent"
  tag: "4.47.1@sha256:7fb984cba51cfc80c355bc4dc7866a0dfe6b0832b74891bcdbbf5e2064bda9ee"
service:
  main:
    ports:
      main:
        port: 3579
        targetPort: 3579
persistence:
  config:
    enabled: true
    mountPath: "/config"
# Enabled mariadb
# ... for more options see https://github.com/tccr.io/truecharts/charts/tree/master/tccr.io/truecharts/mariadb
mariadb:
  enabled: false
  architecture: standalone
  auth:
    database: ombi
    username: ombi
    password: ombi
  primary:
    persistence:
      enabled: false
portal:
  open:
    enabled: true
securityContext:
  container:
    readOnlyRootFilesystem: false
