image:
  repository: "docker.io/automaticrippingmachine/automatic-ripping-machine"
  pullPolicy: "IfNotPresent"
  tag: "2.20.6@sha256:28e7986e0aba96724d85c8387f64bad4f949d9138d8bc612cef840cbb5271649"

securityContext:
  container:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0
    allowPrivilegeEscalation: true

service:
  main:
    ports:
      main:
        protocol: http
        targetPort: 8080
        port: 10683

workload:
  main:
    podSpec:
      containers:
        main:
          env:
            # default media perms
            ARM_UID: "{{ .Values.securityContext.container.PUID }}"
            ARM_GID: "{{ .Values.securityContext.pod.fsGroup }}"

persistence:
  config:
    enabled: true
    mountPath: "/etc/arm/config"
  arm:
    enabled: true
    mountPath: "/home/arm"

portal:
  open:
    enabled: true
