image:
  repository: docker.io/josh5/unmanic
  tag: 0.3.0@sha256:3e2957543b9f23caccf17cdf22f2a71957d8e6c42722809b8b392018c8bdf264
  pullPolicy: IfNotPresent
service:
  main:
    ports:
      main:
        port: 10157
        targetPort: 8888
persistence:
  config:
    enabled: true
    mountPath: "/config"
  library:
    enabled: true
    mountPath: "/library"
  remote:
    enabled: true
    mountPath: "/tmp/unmanic/remote_library"
  cache:
    enabled: true
    mountPath: "/tmp/unmanic"
    type: emptyDir
  varrun:
    enabled: true
portal:
  open:
    enabled: true
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
