image:
  repository: "ghcr.io/taxel/plextraktsync"
  tag: "0.34.17@sha256:f7b8d32a9d8438a32be71d64d182974959b436aa1a968f71d31da0b80357337a"
  pullPolicy: "IfNotPresent"

securityContext:
  container:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0

service:
  main:
    enabled: false
    ports:
      main:
        enabled: false

plextraktsync:
  cron_enabled: true
  task: ""
  schedule: "0 */6 * * *"

cronjob:
  annotations: {}
  failedJobsHistoryLimit: 5
  successfulJobsHistoryLimit: 2

workload:
  main:
    podSpec:
      containers:
        main:
          tty: true
          stdin: true
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false

persistence:
  config:
    enabled: true
    mountPath: /app/config

portal:
  open:
    enabled: false
